<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Welcome to my Stack IT Bucket List!!</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Pass my Stack IT Cloud Engineer Exam</p>
 
                <h4>Bucket List</h4>
                <p>Pass my AWS Solutions Architect exam.</p>
 
                <h4>Bucket List</h4>
                <p>Be aggressive in my job search for Cloud Engineering Jobs p>
            </div>
 
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Make $450 a year by getting multiple offers</p>
 
                <h4>Bucket List</h4>
                <p>Tell my success story, then come back to give other students advice on how to progress!! </p>
 
                <h4>Bucket List</h4>
                <p>Stay focused on keep growing!</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
